@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
body {
  background: #fff;
  color: #000;
  font-family: "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.fontFamily-1 {
  font-family: "Titillium Web", sans-serif;
}

.baseFont {
  font-family: "Montserrat", sans-serif;
}

.shadowStlye {
  -webkit-box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
          box-shadow: 3px 5px 29px 0 rgba(187, 165, 228, 0.1);
}

.shadowStlye2 {
  -webkit-box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 9px 8px 27px 0 rgba(0, 0, 0, 0.04);
}

.shadowStlye3 {
  -webkit-box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.07);
}

.titleColor {
  color: #22B78E;
}

.subtitleColor {
  color: #1D5AA6;
}

.grayColor {
  color: #c9c9c9;
}

.bg-red {
  background-color: #DD5A6A;
}

.bg_blue {
  background-color: #1D5AA6;
}

.bg-gradient01 {
  background: -webkit-gradient(linear, left top, right top, from(#2EC4B8), to(#6078EA));
  background: linear-gradient(to right, #2EC4B8 0%, #6078EA 100%);
}

.bg-lightBlue {
  background-color: #F9F9FF;
}

.bg_darkGray {
  background-color: #272727;
}

.border-radius-none {
  border-radius: 0;
}

.border_radius_5 {
  border-radius: 5px;
}

.border_custom_color {
  border-color: #ECECFF !important;
}

.border_custom_color2 {
  border-color: #E5EAFF !important;
}

.border_custom_color3 {
  border-color: rgba(255, 255, 255, 0.21) !important;
}

.home_slider01 {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: url(../img/Banner_mage.png);
  background-size: cover;
  background-position: center;
  min-height: 450px;
}

.form-custom {
  padding: 15px 25px;
  border-radius: 0;
  font-size: 12px;
}

.form_st01 {
  max-width: 365px;
}

ul.list01 li {
  position: relative;
}

ul.list01 li:before {
  content: url(../img/hospital3.png);
  position: absolute;
  left: -30px;
  top: 3px;
}

ul.list02 li {
  position: relative;
}

ul.list02 li:before {
  content: url(../img/double-tick-indicator.png);
  position: absolute;
  left: -30px;
  top: -1px;
}

.faq__item {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
}

.faq__body {
  display: none;
}

.faq__title {
  cursor: pointer;
}

.faq__title:after {
  position: absolute;
  content: "";
  top: 9px;
  right: 7px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-color: #1D5AA6 transparent transparent transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq__title.active {
  color: #22B78E;
}

.faq__title.active:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: -2px;
  border-color: #22B78E transparent transparent transparent;
}

.arrow_outer01 {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.arrow_outer01 i {
  font-size: 20px;
}

.testmonial_box {
  position: relative;
}

.testmonial_box:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: url(../img/”.png);
}

.underline_prop, .underline_prop01 {
  position: relative;
}

.underline_prop::after, .underline_prop01::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: calc(50% - 25px);
  background-color: #22B78E;
}

.underline_prop01::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c9c9c9;
}

.scrollTop_btn {
  position: fixed;
  right: 80px;
  bottom: 50px;
  z-index: 1;
}

@media only screen and (max-width: 991px) {
  .form_st01 {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */